<div class="div-header">
    <h1>
        walcome {{ title }}!
    </h1>

    <img width="200" alt="Hand taking a Book" src="./assets/hand-taking-book.jpg">
</div>
<div class="div-sub-header">
  <div class="div-button-menu">
    <button class="button-menu-book" (click)="gotoBookPage()">Books Management</button>
  </div>
  <div class="div-button-menu">
    <button class="button-menu-customer" (click)="gotoCustomerPage()">Customers Management</button>
  </div>
  <div class="div-button-menu">
    <button class="button-menu-loan" (click)="gotoLoanPage()">Loans Management</button>
  </div>
</div>
